<div ng-controller="HomeController">
    <h1>Olá!</h1>
    <p>Bem-vindo à página inicial, aqui você pode acessar:</p>
    <ul>
        <li><a href="#!/home">Home</a></li>
        <li><a href="#!/landing">Landing page</a></li>
        <li><a href="#!/checkout">Checkout</a></li>
        <li><a href="#!/confirmacao">Confirmação</a></li>
    </ul>
    <p>Esta aplicação foi criada a partir das seguintes tecnologias:</p>
    <ul>
        <li><strong>Angular, Bootstrap e jQuery</strong> para o frontend.</li>
        <li><strong>Web API (.NET Core)</strong> para o backend.</li>
        <li><strong>RabbitMQ</strong> para troca de mensagens.</li>
        <li><strong>Console App (.NET Core)</strong> para construção do robô de leitura da fila e inclusão das informações no Couchbase e SQL Server.</li>
        <li><strong>Couchbase e SQL Server</strong> para armazenamento dos dados (NoSQL e RDBMS).</li>
        <li><strong>Microsoft Azure</strong> para hospedagem da aplicação: <a href="http://viajanetwebapp.azurewebsitesn.net">http://viajanetwebapp.azurewebsitesn.net</a></li>
    </ul>
    <p>URL da aplicação:</p>
    <ul>
        <li>https://viajanettestern.azurewebsites.net</li>
    </ul>
    <p>URL da API para ler os dados do Couchbase: </p>
    <ul>
        <li>https://viajanettestern.azurewebsites.net/api/coleta?ip=&pagina=</li>
    </ul>
    <p>Exemplos de chamada:</p>
    <ul>
        <li>https://viajanettestern.azurewebsites.net/api/coleta?ip=&pagina=Home</li>
        <li>https://viajanettestern.azurewebsites.net/api/coleta?ip=&pagina=Landing%20page</li>
        <li>https://viajanettestern.azurewebsites.net/api/coleta?ip=&pagina=Checkout</li>
        <li>https://viajanettestern.azurewebsites.net/api/coleta?ip=&pagina=Confirmação</li>
    </ul>
    <p><strong>Desenvolvido por Rodrigo Nunes</strong><br /><a href="mailto:ronunes@icloud.com">ronunes@icloud.com</a></p>
</div>